<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Confirmation</title>
    <link rel="stylesheet" href="css/styleConfirmation.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="content-box">
        <div class="header">
            <img src="images/sondekablack.png" class="logo"/>
        </div>
        <div class="photo">
            <img src="images/rocket.png" alt="Rocket Flying" class="rocket"/>
        </div>
        <div class="main-text">
            YOUR REGISTRATION IS COMPLETE. </br>
            ALL SYSTEMS GO!
        </div>
        
        <a href="https://vote.sondeka.org/login" class="button">LOG IN TO CAST YOUR VOTE</a>
    </div>
	<script src="index.js"></script>
  </body>
</html>