<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invalid Link - Sondeka</title>
    <link rel="stylesheet" href="css/styleInvalidLink.css">

  </head>
  <body>
    <div class="content-box">
        <div class="header">
            <img src="images/sondekablack.png" class="logo"/>
        </div>
        <div class="photo">
            <img src="images/skull.png" alt="Rocket Flying" class="rocket"/>
        </div>
        <div class="main-text">
            OH OH! </br>
            LINK IS INVALID
        </div>
        <div class="subtitle">It seems like either this link is invalid or the email has been confirmed before. Try:</div>
        
        <div class="button-group">
          <a href="https://vote.sondeka.org/login" class="button">LOGGING IN</a>
          <a href="https://vote.sondeka.org/signup" class="button">SIGNING UP</a>
        </div>
    </div>
  </body>
</html>
