.navContainer{
    width: 100%;
    position: relative;
}

.navWrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 16px;
    padding-right: 240px;
    background: rgba(0, 0, 0, 0.575);
    position: fixed;
    top: 0;
    z-index: 1;

    @media (max-width: 1700px) {
        padding-right: 120px;
        height: 40px                
    }
}

.navLogo{
    @media (max-width: 561px ){
        display: none        
    }
}

.title{
    font-family: 'UKNumberPlate';
    font-size: 2.5rem;
    color: #FFCD00;

    span{
        font-family: 'Inter';
        font-size: 1.5rem;
        color: #fff;
    }

    @media (max-width: 426px ){
        font-size: 1.0rem;
        
        span{
            font-size: 1.0rem;
        }
    }
}

.menuBtn{
    transform: scale(90%);
    padding: 4px;
    border-radius: 6px;

    &:hover{
        background-color: #3f3f3f;
    }

    @media (max-width: 426px ){
        transform: scale(80%);        
    }
}

.navOptions{
    position: absolute;
    width: 320px;
    height: 160px;
    top: 96px;
    background-color: #fff;
    right: 32px;
    border-radius: 8px;
}

.navLink{
    padding: 8px;
    text-align: center;
    font-family: 'Inter';
    cursor: pointer;

   &:hover{
    background-color: #FFCD00;
    border-radius: 8px;
   }
}