.socialsWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layer1 {
    display: flex;
    align-items: center;
}

.shareButton {
    background-color: #fff;
    padding: 16px;
    border-radius: 50%;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    z-index: 10;
    cursor: pointer;
}

.active .shareButton,
.shareButton:hover {
    outline: 3px solid #0561ee;
    outline-offset: -4px;
}

.instagram {
    transform: translateX(105%);
    transition: all .5s;
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.instagramActive {
    transform: translateX(-45%);
    transition: all .5s;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid 2px #010101;
    
    &:hover {
        cursor: pointer;
        border: none;
        background: linear-gradient(37.16deg, #FFCD00 14.08%, #F24E1E 44.9%, #C90679 72.05%, #440A80 92.8%);
    }

    @media (max-width: 450px) {
        transform: translateX(-6%);                
    }
}

.twitter {
    transform: translateX(-105%);
    transition: all .5s;
}

.twitterActive {
    transform: translateX(45%);
    transition: all .5s;
    padding: 12px;
    border: solid 1px #010101;
    border-radius: 50%;
    transition: all .5s;

    &:hover {
        cursor: pointer;
        background-color: #1D9BF0;
        border: none
    }

    @media (max-width: 450px) {
        transform: translateX(4%);                
    }
}

.facebook {
    transform: translateY(-105%);
    transition: all .5s;
}

.facebookActive {
    transform: translateY(40%);
    transition: all .5s;
    padding: 12px;
    border-radius: 50%;
    border: solid 1px #010101;

    &:hover {
        cursor: pointer;
        background-color: #1D9BF0;
        border: none;
    }

    @media (max-width: 450px) {
        transform: translateY(10%);                
    }
}

.instagram,
.twitter,
.facebook {
    z-index: 2;
}