.title {
    font-family: 'Graphik LCG';
    font-style: normal;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.21em;
}

.timerWrapper {
    display: flex;
    margin-top: 40px;
}

.timeBox{
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 426px) {
        margin-right: 20px;
    }
}

.time {
    background: #272626;
    border-radius: 8px;
    padding: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    font-family: 'Red Hat Text';
    font-weight: 700;
    font-size: 2rem;

    @media (max-width: 426px) {
        height: 40px;
        width: 40px;
        font-size: 1.5rem;        
    }
}

.timeTitle{
    margin-top: 8px;
    font-family: 'Red Hat Text';
    color: #fff;

    @media (max-width: 426px) {
        font-size: .75rem;
    }
}