.PageWrapper{
    overflow-x: hidden;
    padding-top: 120px;

    @media (max-width: 1441px) {
        padding-top: 80px;        
    }
}

.pageContent{
    position: relative;
    display: flex;
    padding: 48px 132px;

    h1,h2,h3{
        font-family:Helvetica, sans-serif;
        color:#0e2332;
    }
    p, li{
        line-height: 28px;
        color:#6e7b84;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    li{
        line-height: 28px;
    }
}

.right{
    width: 70%;
}

.left{
    position: fixed;
    right: 5%;
    top: 20%;
    width: 20%;
}

.hr{
    position: fixed;
    right: 30%;
    top: 20%;
    height: 400px;
}

.NavWrapper{
    position: fixed;
    top: 0;
    z-index: 3;
}