.button {
    border-radius: 8px;
    padding: 12px;
    width: 400px;
    color: white;
    font-family: 'Inter';
    outline: none;
    border: none;
    letter-spacing: 0.125em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
        box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    }
}