.accordionItem {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    width: 100%;
    padding: 48px 0px;

    &:hover{
      h1{
        color: #f1f1f1
      }
    }

    @media (max-width: 1025px) {
      padding-left: 400px;      
    }

    @media (max-width: 769px) {
      padding-left: 32px;
      padding-right: 32px;      
    }

    @media (max-width: 426px) {
      padding-left: 16px;
      padding-right: 40px;      
    }
  }

  .downIconWrapper{
    width: 48px;
    height: 48px;
    transition: all 0.5s ease-in-out;
  }
  
  .accordionActive{
    background-color: #292929;
    .downIconWrapper{
      transform: rotate(180deg);
    }
  }

  .categoriesContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    padding: 48px;
  }
  
  .categoryTitleContainer{
    display: flex;
    gap: 48px;
    width: 100%;
    justify-content: center;
    align-items: center;

    h1{
      font-family: 'Inter';
      color: #a1a1a1;
    }
  }

  .category{
    width: 320px;
    height: 320px;
    background-color: #bbbbbb;
    position: relative;
    overflow: hidden;

    &:hover{
      .nomineeButton{
        bottom: 10%
      }

      .buttonContainer{
        opacity: 1;
      }
    }
  }

  .buttonContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: all ease-in-out 0.5s;
  }

  .nomineeButton{
    position: absolute;
    width: 60%;
    height: 48px;
    color: #f1f1f1;
    z-index: 20;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    bottom: -15%;
    background-color: #313131;
    transition: all ease-in-out 0.5s;
    font-family: 'Inter';
    font-weight: 600;
    letter-spacing: 0.2rem;
  }
  
  // .arrowContainer{
  //   width: 20%;

  //   @media (max-width: 1025px) {
  //     width: 10%;      
  //   }
  // }
  
  .active{
    display: block;
    margin-top: 24px;
  }
  
  .content{
    display: none
  }
   