.pageWrapper {
  background-color: #e4e4e4;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroller {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 120px;
  padding-left: 196px;
  padding-right: 80px;

  @media (max-width: 1441px) {
    padding-top: 28px;
    padding-right: 64px;
    padding-left: 164px;
  }

  @media (max-width: 426px){
    display: none
  }
}

.iconWrapper {
  background-color: #292929;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  @media (max-width: 1441px) {
    transform: scale(80%);
  }
}

.scrollText {
  font-family: 'Graphik lcg';
  font-size: 32px;
  margin-left: 32px;
}

.divider {
  background-color: black;
  width: 70%;
  height: 2px;
  margin-left: 32px;
}

.countdownContainer {
  padding-top: 380px;
  padding-bottom: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 1441px) {
    padding-top: 300px;
    padding-bottom: 300px;
  }

}

.countdownContainerTitle {
  font-family: 'Graphik LCG';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.15em;
  color: #3C3C3C;

  @media (max-width: 1441px) {
    font-size: 40px;
  }
}

.subLogo {
  width: 100%;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.sondekaTitle {
  color: #FFCD00;
  font-family: 'UKNumberPlate';
  font-size: 48px;

  @media (max-width: 450px) {
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  span {
    color: #292929;
    font-family: 'Graphik LCG';
    font-size: 32px;
    font-weight: 300;

    @media (max-width: 450px) {
      font-size: 20px;
    }
  }
}

.footerLayer1 {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Cabin';
  font-size: 30px;
  gap: 72px;

  p {
    transition: all 1.5s;
  }

  p:hover {
    text-decoration: underline;
  }

  @media (max-width: 450px) {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    font-size: 16px;
  }
}

.socials {
  width: 100vw;
  border-top: solid 2px black;
  padding: 48px 16px;
}

.socialsTitle {
  text-align: center;
  color: #292929;
  font-family: 'Graphik LCG';
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 48px;

  @media (max-width: 450px) {
    font-size: 28px;
    font-weight: 500;
  }
}

.categories {
  width: 100vw;
  padding-top: 240px;
  background-color: #313131
}

.categoriesTitle {
  font-family: 'UKNumberPlate';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.15em;
  color: #FFCD00; 
  margin-bottom: 80px;

  @media (max-width: 769px) {      
    font-size: 48px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a8;
  background-color: rgba(0, 0, 0, 0.664);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 75vw;
  height: 70vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: relative;

  @media (max-width: 769px) {
    padding: 0;
    width: 80vw;
    padding: 24px;    
  }
}

.closeModal {
  background-color: #747474;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(60%);
  position: absolute;
  right: -30px;
  top: -30px;
  cursor: pointer;

  &:hover {
    background-color: #1f1f1f;
  }
}

.contentContainer {
  display: flex;

  @media (max-width: 769px) {
    flex-direction: column;    
  }
}

.imageContainer {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalImage {
  width: 50%;
  height: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  background-color: #3C3C3C;
}

.nomineeContent {
  margin-left: 28px;
  width: 50%;

  h2 {
    font-family: 'Graphik lcg';
    font-weight: 600;
    color: #fdfdfd;
    font-size: 32px;
  }

  p {
    font-family: 'Inter';
    font-size: 20px;

    @media (max-width: 769px) {
      font-size: 16px;   
    }
  }

  @media (max-width: 769px) {
    width: 100%;   
  }

  @media (max-width: 769px) {
    margin-left: 0;    
  }
}

.socialMedia {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
}

.modalButtonsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkOutMyWork {
  border: 2px solid #000000;
  border-radius: 6px;
  text-align: center;
  padding: 10px 16px;
  font-family: 'Graphik lcg';
  font-size: 16px;
  font-weight: 500;
  margin-top: 48px;
  cursor: pointer;
  width: 70%;

  a{
    text-decoration: none;
  }

  &:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.voteForMe {
  background: #440A80;
  border-radius: 6px;
  text-align: center;
  padding: 12px 16px;
  font-family: 'Graphik lcg';
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
  color: #fff;
  cursor: pointer;
  width: 70%;
  
  &:hover{
    background-color: #5c18a5;
  }
}

.responseMessage{
  text-align: center;
  margin-top: 24px;
  background-color: #ffe566;
  font-family: 'Inter';
  padding: 24px;
}

.votebuttonContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.voteButton{
  width: 40%;
  height: 48px;
  cursor: pointer;
  color: #292929;
  font-family: 'inter';
  font-weight: 600;
  border-radius: 8px;
  margin: 32px 0px;

  &:hover{
    background-color: #440A80;
    color: #ffffff;
    border: none
  }
}
