.pageWrapper {
  background-color: #e4e4e4;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroller {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 120px;
  padding-left: 196px;
  padding-right: 80px;

  @media (max-width: 1441px) {
    padding-top: 28px;
    padding-right: 64px;    
    padding-left: 164px;    
  }
}

.iconWrapper {
  background-color: #292929;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  @media (max-width: 1441px) {
    transform: scale(80%);
  }
}

.scrollText {
  font-family: 'Graphik lcg';
  font-size: 32px;
  margin-left: 32px;
}

.divider {
  background-color: black;
  width: 70%;
  height: 2px;
  margin-left: 32px;
}

.countdownContainer {
  padding-top: 380px;    
  padding-bottom: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 1441px) {
    padding-top: 300px;    
    padding-bottom: 300px;    
  }

}

.countdownContainerTitle {
  font-family: 'Graphik LCG';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.15em;
  color: #3C3C3C;

  @media (max-width: 1441px) {
    font-size: 40px;    
  }
}

.subLogo{
  width: 100%;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  border-top: solid 2px black; 
  border-bottom: solid 2px black; 
}

.sondekaTitle{
  color: #FFCD00;
  font-family: 'UKNumberPlate'; 
  font-size: 48px;
  
  span{
    color: #292929;
    font-family: 'Graphik LCG';
    font-size: 32px;
    font-weight: 300;
  }
}

.footerLayer1{
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Cabin';
  font-size: 30px;
  gap: 72px;

  p{
    transition: all 1.5s;
  }
  
  p:hover{
    text-decoration: underline;
  }
}

.socials{
  width: 100vw;
  border-top: solid 2px black;
  padding: 48px 16px;
}

.socialsTitle{
  text-align: center;
  color: #292929;
  font-family: 'Graphik LCG';
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 48px;  
}