.input {
    width: 80%
}

.formInputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.toastMessages {
    font-size: 14px;
    color: white;
}

.toastMessagesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.toastMessagesSuccess{    
    width: 65%;
    height: fit-content;
    padding: 8px;
    border: solid 1px #8cff2d;
    background-color: #afff6d;
    border-radius: 8px;
    text-align: center;
    font-family: 'Inter';

    p{
        font-size: 0.75rem;
    }
}

.toastMessagesError {
    width: 65%;
    height: fit-content;
    padding: 8px;
    border: solid 1px #ff0000;
    background-color: #ff8e92;
    border-radius: 8px;
    text-align: center;
    font-family: 'Inter';

    p{
        font-size: 0.75rem;
    }
}

.loginPageWrapper {
    background-color: #FFCD00;
    min-height: 100vh;
    background-image: url('/loginBackground.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
}

.containerHeader {
    width: 100%;
    display: flex;
    justify-content: center;

}

.heading {
    font-family: 'UKNumberPlate';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #250F36;
    font-size: 2rem;
    margin-top: 16px;
}

.contentContainer {
    width: 80vw;
    height: 85vh;
    background-color: #fff;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.24), -6px -6px 8px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.passwordField {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

.showHidePassword {
    background: none;
    border: none;
    position: absolute;
    bottom: 38%;
    right: 10%;
    transform: scale(90%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover{
        transform: scale(100%);
    }
}

.forgotPasswordText {
    width: 100%;
    text-align: right;
    margin-right: 380px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.095em;
    color: #440A80;
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }
}

.buttonContainer{
    margin-top: 24px;
    width: 70%
}

.signUpLink{
    color: #4B4545;
    font-family: 'Inter';
    letter-spacing: 0.1em;
    margin-top: 24px;

    span{
        cursor: pointer;
        color: #440A80;
        font-weight: bold;
        &:hover{
            text-decoration: underline;
        }        
    }
}