.loginPageWrapper {
    background-color: #FFCD00;
    min-height: 100vh;
    background-image: url('/loginBackground.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
}

.contentContainer {
    position: relative;
    width: 50vw;
    height: 50vh;
    background-color: #f0f0f0;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.24), -6px -6px 8px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    padding-top: 32px;

    @media (max-width: 1026px) {
        width: 70vw        
    }
    @media (max-width: 769px) {
        width: 85vw        
    }
    @media (max-width: 426px) {
        height: 70vh;        
    }
}

.containerHeader {
    width: 100%;
    display: flex;
    justify-content: center;

}

.heading {
    font-family: 'UKNumberPlate';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #250F36;
    font-size: 2rem;
    margin-top: 16px;

    @media (max-width: 321px) {
        font-size: 28px;                
    }
}

.subTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 24px;

    @media (max-width: 426px) {
        font-size: 16px;                
    }
}

.buttonsContainer{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.googleButton{
    background-color: #fff;
    border: 1px solid #c2c8d0;
    border-radius: 8px;
    padding: 16px 24px;
    font-family: 'Graphik LCG';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 56px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;

    &:hover{
        box-shadow: 0px -1px 2px #00000031, -2px 2px 2px #00000034, 2px 2px 2px #00000031, 0px 2px 2px #0000002a;
    }

    @media (max-width: 769px) {
        width: 70%;                
    }
    @media (max-width: 426px) {
        width: 85%;                
    }

}

.googleIconWrapper{
    transform: scale(60%);    
    
    @media (max-width: 426px) {
        transform: scale(40%);               
    }    
}

.googleButtonText{
    margin-left: 24px;
    font-size: 16px;

    @media (max-width: 426px) {
        font-size: 12px;
        margin-left: 0px;                
    }
}

.footer{
    position: absolute;
    display: flex;
    text-align: center;
    bottom: 10%;
    right: 40%;

    p{
        font-family: Arial, Helvetica, sans-serif;
        margin: 6px;
        font-size: 16px;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }
    }

    
    @media (max-width: 769px) {
        right: 37%;                        
    }

    @media (max-width: 426px) {
        right: 25%;                        
    }
    
    @media (max-width: 325px) {
        right: 20%                
    }
}