.form{
    background-color: #fff;
    width: 200px;
    height: auto;
    padding: 8px;
}

.formLabel{
    color: black;
    font-size: 16px;
    margin-bottom: 8px;
}

.input{
    width: 80%
}

.formInputGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.toastMessages{
    font-size: 14px;
    color: white;
}
.toastMessagesError{
    font-size: 14px;
    color: red;
}